@use "../../variables.scss" as *; 

.game {
  width: 550px;
  height: 635px;
  background-color: $gameColor;
}

.footer{
  &__copyright{
    color:white;
    display: flex;
    
  }
  &__link{
    text-decoration: none;
    color: gray;
    &:hover{
      color:rgb(196, 196, 196)
    }
  }
}