@use "../../variables.scss" as *;

.game-field {
  width: 100%;
  height: 516px;
  box-shadow: $innerBoxShadow;
  display: grid;

  &__grid-element {
    cursor: pointer;
    border: none;
    background-image: url('../../images/cellUnit.png');
    background-size: cover;

    &_clear {
      cursor: default;
      background-image: url('../../images/cellUnitClear.png');
    }

    &_minned {
      background-image: url('../../images/isMinned.png');
    }

    &_question {
      background-image: url('../../images/question.png');
    }
    &_clear-question{
      background-image: url("../../images/questionOpened.png");
    }
    &_defused{
      background-image: url("../../images/flag.png");
    }
    &_default{
      background-image: url("../../images/cellUnit.png");
    }
    &_adjacent-mines {
      cursor: default;

      &_1 {
        background-image: url('../../images/adjMines1.png');
      }

      &_2 {
        background-image: url('../../images/adjMines2.png');
      }

      &_3 {
        background-image: url('../../images/adjMines3.png');
      }

      &_4 {
        background-image: url('../../images/adjMines4.png');
      }

      &_5 {
        background-image: url('../../images/adjMines5.png');
      }

      &_6 {
        background-image: url('../../images/adjMines6.png');
      }

      &_7 {
        background-image: url('../../images/adjMines7.png');
      }

      &_8 {
        background-image: url('../../images/adjMines8.png');
      }
    }

  }
}